# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment folders
env/
venv/

# Ignore large or raw data files if you don’t want them tracked
*.csv
*.xlsx
*.zip
*.json
